body{
font-family: Calibri;
background-image:url(iceberg.jpg);
background-size: 100%;

}

div{
color: white;
}

#divrelated{
position: fixed;
top: 30px;
right: 0;
}

#divlist{
position:fixed;
top:0;
right:0;
}

h1 {
color: white;
}


table { 

font-family: Calibri, Arial, sans-serif;
width: 100%; 
border-collapse: collapse; 
table-layout: fixed; 
opacity: 0.80;
}

td, th { 
border: 1px solid #CCC; 
height: 30px; 

}

th {
background-color: steelblue; 
font-weight: bold;
color:white;
}

td {
background: white;
}

 /*/ tr td:hover { background: skyblue; color: #000;} /* Hover cell effect */

#fixedDetails {
position:relative;
top:0;
right:0;
width:400px;
}
