body{
	font:arial;
}



table { 
color: #333;
font-family: Helvetica, Arial, sans-serif;
width: 100%; 
border-collapse: collapse; 
table-layout: fixed; 
}

td, th { 
border: 1px solid #CCC; 
height: 30px; 
transition: all 0.3s;  /* Simple transition for hover effect */
}

th {
background: #DFDFDF;  /* Darken header a bit */
font-weight: bold;
}

td {
background: #FAFAFA;
}
	
tr td:hover { background: #666; color: #FFF; } /* Hover cell effect! */

#fixedDetails {
position:relative;
 top:0;
 right:0;
 width:400px;
}
